//============
// Page - Home
//============
body {
    color: rgb(226, 226, 226);
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bolder;
}

<<<<<<< HEAD
.testContainer{
    background-image: url('APOCALYPSE-BEAUTY/public/img/Accesories/accesories-brushes-illustration.jpg');
=======
.testContainer {
    background-image: url("/public/img/Makeup/illustrations/illustration-life-makeup-black-and-white.jpg");
>>>>>>> a9f415ddf1d90315a750f835ac6c8b153dc7d6c4
    width: 600px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

<<<<<<< HEAD
    .testContainer__title{
        color: rgb(0, 0, 0);
    }
}

#header{
    width: 600px;
    height: 300px;
}
=======
    .testContainer__title {
        color: black;
    }
}
>>>>>>> a9f415ddf1d90315a750f835ac6c8b153dc7d6c4
